<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.booksapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/book_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/book_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BooksApp"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.detailpage.DetailActivity" />
        <activity android:name=".ui.webviewpage.Detail2Activity" />
        <activity android:name=".ui.homepage.MainActivity" />
        <activity
            android:name=".ui.splashpage.SplashActivity"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>